# Ignore MacOS DS_Store files
.DS_Store

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# Ignore outputs generated during Bazel bootstrapping.
/output/
